{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">  
        <h4>{{'Table of time spent per week and per technician'|trans}}</h4>
        <p>Attention ce tableau contient toutes les années, si vous voulez une année en particulier, mettez là dans la barre de recherche.</p>
        <p>Le bouton "Imprimer" ne fonctionne pas pour Edge, veuillez passer par PDF.</p>
        <table id="weekTechnician"  class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>{{'Year'|trans}}</th>
                    <th>{{'Week number'|trans}}</th>
                    <th>{{"Technician's lastname"|trans}}</th>
                    <th>{{"Technician's firstname"|trans}}</th>
                    <th>{{'Total number hours'|trans}}</th>
                </tr>
            </thead>
            <tbody>
                {% for intervention in interventions %}
                    <tr>
                        <td>{{ intervention.year }}</td>
                        <td>{{ intervention.weekNumber }}</td>
                        <td>{{ intervention.lastName }}</td>
                        <td>{{ intervention.firstName }}</td>
                        <td>{{ intervention.totalNumberHours }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>{{'Total'|trans}}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        {#  Javascript function to initialize the DataTables to sort my table  #}
        {#  Fonction Javascript pour initialiser le tri de mon tableau avec DataTables  #}
            $(document).ready(function () {
                var table = $('#weekTechnician').DataTable({
        {# To round to 3 digits after the decimal point and display it at the footer of the board/
         Pour arrondir à 3 chiffres après la virgule et l'afficher au pied du tableau #}
                     "footerCallback": function () {
                         var api = this.api();
                         // Remove the formatting to get integer data for summation
                         var intVal = function (i) {
                             return typeof i === 'string' ?
                                     i.replace(/[\$,]/g, '') * 1 :
                                     typeof i === 'number' ?
                                     i : 0;
                         };
                         //Total hours over the search
                         totalHours = api
                                 .column(4, {search: 'applied'})
                                 .data()
                                 .reduce(function (a, b) {
                                     return intVal(a) + intVal(b);
                                 }, 0);
        {# To round to 2 digits after the decimal point/Pour arrondir à 2 chiffres après la virgule #}
                        // Update footer
                        $(api.column(4).footer()).html(
                                Math.round(totalHours * 100) / 100);
                    },
        {#To have the buttons excel, csv, pdf and print/Pour avoir les boutons Excel, CSV, PDF et Imprimer#}
                    dom: "Blftrip",
                    buttons: [{
                            extend: 'csv',
                            footer: true,
        {# To have UTF-8 in the CSV because of a problem with accents and special characters/
        Pour avoir UTF-8 dans le CSV à cause d'un problème avec les accents et les caractères spéciaux #}
                            charset: 'UTF-8',
                            fieldSeparator: ';',
                            bom: true}, {
                            extend: 'pdf',
                            footer: true,
                        }, {
                            extend: 'print',
                            footer: true,
                            text: 'Imprimer',
        {# function to have the impression in landscape/ fonction pour avoir l'impression en paysage #}
                            customize: function (win)
                            {
                                var css = '@page { size: landscape; }',
                                        head = win.document.head || win.document.getElementsByTagName('head')[0],
                                        style = win.document.createElement('style');
                                style.type = 'text/css';
                                style.media = 'print';
                                if (style.styleSheet)
                                {
                                    style.styleSheet.cssText = css;
                                } else
                                {
                                    style.appendChild(win.document.createTextNode(css));
                                }
                                head.appendChild(style);
                            }}],
        {#to have the dates sort descending when you arrive on the page/ Pour avoir les dates trier de façon descendante quand on arrive sur la page#}
                    "order": [0, 'desc'],
        {#to deactivate the search function on column 5/ Pour désactiver la fonction rechercher sur les colonnes 5#}
                    "aoColumnDefs": [
                        {"bSearchable": false, "aTargets": [4]}],
        {#To have 50 lines per page in the table/Pour avoir 50 lignes par page dans le tableau#}
                    pageLength: 50,
        {#To have the traduction in French/ Pour avoir la traduction en français#}
                    language: {
                        processing: "Traitement en cours...",
                        search: "Rechercher:",
                        lengthMenu: "Afficher _MENU_ éléments",
                        info: "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                        infoEmpty: "Affichage de l'élément 0 à 0 sur 0 éléments",
                        infoFiltered: "(filtré de _MAX_ éléments au total)",
                        infoPostFix: "",
                        loadingRecords: "Chargement en cours...",
                        zeroRecords: "Aucun élément à afficher",
                        emptyTable: "Aucune donnée disponible dans le tableau",
                        paginate: {
                            first: "Premier",
                            previous: "Précédent",
                            next: "Suivant",
                            last: "Dernier"
                        },
                        aria: {
                            sortAscending: ": activer pour trier la colonne par ordre croissant",
                            sortDescending: ": activer pour trier la colonne par ordre décroissant"
                        }
                    }
                });
            });
    </script>
{% endblock %}

