{% extends 'base.html.twig' %}

{% block body %}
    <div class="container"> 
        <h4>{{ 'Type intervention'| trans }}</h4>
        <p>Pour actif: 1 pour Oui et 0 ou rien pour Non.</p>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>{{ 'Title type intervention'| trans }}</th>
                    <td>{{ typeIntervention.titleTypeIntervention }}</td>
                </tr>
                <tr>
                    <th>{{ 'Info active type intervention'| trans }}</th>
                    <td>{{ typeIntervention.id }}</td>
                </tr>
            </tbody>
        </table>         
        <a class="btn btn-success" href="{{ path('typeintervention_edit', { 'id': typeIntervention.id }) }}">{{ 'Edit'| trans }}</a> 
        {{ form_start(delete_form) }}
        <input class="btn btn-success" type="submit" value="{{ 'Delete'| trans }}">
        {{ form_end(delete_form) }}   
        <a class="btn btn-success" href="{{ path('typeintervention_index') }}">{{ 'Back to the list'| trans }}</a>
    </div>

{% endblock %}
