{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h4>{{ 'Technician edit'|trans }}</h4>
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="{{ 'Edit'|trans }}" />
        {{ form_end(edit_form) }}      
        <p>Attention la suppression d'un technicien ne sera pas possible s'il est lié à une ou plusieurs interventions. Dans ce cas, désactivez-le, ainsi il n'apparaîtra plus dans les choix lors de la création d'une intervention, mais sera toujours accessible pour les tableaux statistiques.</p>
        {{ form_start(delete_form) }}
        <input class="btn btn-success" type="submit" value="{{ 'Delete'|trans }}">
        {{ form_end(delete_form) }}
        <a class="btn btn-success" href="{{ path('technician_index') }}">{{ 'Back to the list'|trans }}</a>
    </div>
        
{% endblock %}
