{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h4>{{ 'Place'|trans }}</h4>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>{{ 'Title place'|trans }}</th>
                    <th>{{ 'Title group'|trans }}</th>
                    <th>{{ 'Info Active Place'|trans }}</th>               
                </tr>
                <tr>
                    <td>{{ place.titlePlace }}</td>
                    <td>{{ place.groupsPlaces }}</td>
                    <td>{{ place.infoActivePlace }}</td>
                </tr>
            </tbody>
        </table>
        <p>Pour actif: 1 pour Oui et 0 ou rien pour Non.</p>
        <a class="btn btn-success" href="{{ path('place_edit', { 'id': place.id }) }}">{{ 'Edit'|trans }}</a>
        <p>Attention la suppression d'un lieu ne sera pas possible s'il est lié à une ou plusieurs interventions. Dans ce cas, désactivez-le,</p> 
        <p>ainsi il n'apparaîtra plus dans les choix lors de la création d'une intervention, mais sera toujours accessible pour les tableaux statistiques.</p> 
        {{ form_start(delete_form) }}
        <input class="btn btn-success" type="submit" value="{{ 'Delete'|trans }}">
        {{ form_end(delete_form) }}
        <a class="btn btn-success" href="{{ path('place_index') }}">{{ 'Back to the list'|trans }}</a>
    </div>
{% endblock %}
