{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h4>{{ 'Groupplace creation'|trans }}</h4>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="{{ 'Create'|trans }}" />
        {{ form_end(form) }}
        <a class="btn btn-success" href="{{ path('groupplace_index') }}">{{ 'Back to the list'|trans }}</a>
    </div>

{% endblock %}
