{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Bienvenue sur le site de gestion de temps!</h3>
        {% if is_granted('ROLE_ADMIN')%}
            <p>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</p>
            <p><a href="{{ path('login_ok') }}">{{ "Accéder à l'espace administrateur" }}</a></p>
            {% elseif is_granted('ROLE_USER')%}
            <p>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</p>
            <p><a href="{{ path('login_ok') }}">{{ "Accéder à l'espace utilisateur" }}</a></p>       
            {% else %}
            <p><a href="{{ path('fos_user_security_login') }}">{{ 'Connectez-vous' }}</a></p>
            {% endif %}
        <div>

        {% endblock %}


